
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    background-color: black;
}

body {
    height: 100vh;
    width: 100vw;
}

.mains {
    display: flex;
    color: white;
}

.top {
    font-size: 20px;
    list-style: none;
    display: flex;
    margin: 20px 0px 5px 20px;
    padding: 25px;
}
li a{
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    border: 2px;
    border-radius: 2px;
    border-color: white;
}
li a:hover {
    border: 5px;
    border-radius: 5px;
    border-color: white;
    margin-top: 10px;
    color: yellow;
    font-size: larger;
}

.spaceline {
    margin-top: 10px;
    height: 1px;
    width: 100vw;
    background-color: yellow;
}

.spaceline:hover {
    background-color: white;
}

.heading {
    color: white;
    width: 45vw;
    margin: 30px;
}

.container {
    margin-top: 4vh;
    margin-left: 40px;
    height: 50vh;
    width: 45vw;
    color: white;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    ;
}

.button {
    margin: 10px 0px;
    font-size: small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    background-color: yellow;
    height: 35px;
    width: 80px;
    border: 0px;
    border-radius: 2px;
}

.button:hover {
    font-size: medium;
    height: 40px;
    width: 85px;
    background-color: rgb(203, 203, 59);
    color: white;
}

.stars {
    display: inline-flex;
}

.review {
    display: inline;
    position: absolute;
    margin-top: 5px;
}

.written {
    display: inline-flex;
    float: left;
}

.image {
    margin: 35px 300px;
    color: blue;
    float: top-right;
    height: 50vh;
    width: 40vw;
}

.mid {
    display: flex;
}

#text {
    font-family: 'Inter', sans-serif;
}

.icons {
    display: flex;
    height: 68px;
    width: 1025px;
}

#ds {
    margin-top: 30px;
    display: inline-flex;
    float: right;
    margin-left: 400px;
}

#ds:hover {
    height: 60px;
    margin-top: 25px;
}

#si {
    margin-top: 35px;
    display: inline-flex;
    float: right;
    margin-left: 70px;
}

#si:hover {
    height: 60px;
    margin-top: 30px;
}

#icon {
    margin-top: 30px;
    height: 50px;
    width: 50px;
    float: right;
    margin-left: 300px;
}

#icon:hover {
    margin-top: 25px;
    height: 60px;
    width: 60px;
}